
/* ====== Global ====== */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: robotoL;

    overflow-x: hidden;
}

/* ====== font ====== */
@font-face {
    font-family: robotoR;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: robotoB;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: robotoL;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}
/* ====== font ====== */

/* ====== color variable ====== */
$primery-color: #0b0c17;
$secondary-color: #ff3571;
$gray-color: #dddddd;
$alternative-color: #3C30FF;
$black-color: #000;
$white-color: #fff;


/* ====== color variable ====== */

/* ==== sizing variable Global ==== */

$titlFontSize: 2em;
$textFontSize: 1em;
$textFontSizeS: 0.9em;
$margin-T-B: 3em 0;
$padding-T-B: 3em 0;




/* ==== sizing variable Global ==== */


/* ====== Global ====== */




/* ====== Hero section ====== */
.heroSection {
    /* ====== Header ====== */
    .header {
        position: absolute;
        top: 0;
        left:0;
        display: flex;
        .logo {
            display: flex;
            width: 300px;
            padding: 0.5em;
            img {
                padding: 8px;
                width: 50px;
            }
            p span {
                line-height: 1.7em;
                font-family: robotoB;
                font-size: 1rem;
    
            }
            p {
                font-size: 0.8em;
            }
        }
    }
    /* ====== Header ====== */
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
    margin-bottom: 6em;
    .imgContainerHero {
        position: relative;
        width: 60%;
        height: 75vh;
        background-image: url(../img/ilustracion1.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right top;
        img {
            position: absolute;
            top: 20%;
            left: 10%;
            height: 400px;
        }

    }
    .textContainerHero {
        padding:2em 0 0 3em;
        width: 40%;
        line-height: 3em;
        .heroSectionTitle {
            font-size: $titlFontSize;
            font-family: robotoB;
        }
        .heroSectionText {
            font-size: $textFontSize;
            line-height: 1.5em;
            padding-top: 2em;

        }
        .scrollToSeeMore{
            color: $secondary-color;
            font-family: robotoR;
            font-size: 0.8em;
        }
        .rocket {
            font-size: $titlFontSize;
        }


    }

}
/* ====== Hero section ====== */

/* ====== Gallery ====== */
.gallery {
    width: 100vw;
    img {
        width: 100%;
        padding-bottom: 3em;
    }
}
/* ====== Gallery ====== */

/* === Every idea start with a need  === */
.everyIdeaStartsWithANeed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 70%;
    margin: auto;
    margin-bottom: 3em ;
    article:first-of-type {
        display: flex;
        justify-content: space-between;
        max-width: 80%;
        margin-bottom: 5em;
        h1 {
            font-family: robotoB;
            font-size: $titlFontSize;
            max-width: 16ch;
            min-width: 14ch;
            padding-right: 2em;
        }
        p {
            font-size: $textFontSizeS;
            line-height: 1.5em;
            width: 60%;
            margin-right: auto;
        }
    }
    h1{
        width: 100%;
        font-size: $titlFontSize;
        font-family: robotoB;
    }

}
/* === Every idea start with a need  === */

/* ===== Info Cards ====== */
.infoCards {
    margin: auto;
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 3em;
    .infoCard {
        padding: 1em;
        width: 50%;
        transition-timing-function: ease-in-out;
        .dRight{
            margin-right: auto;
        }
        .IconAndTitle {
            display: flex;
            column-gap: 1em;
            .cardIcon {
                width: 18px;
            }
        }
        .cardTitle {
            font-family: robotoB;
            font-size: $textFontSizeS;
            line-height: 2em;
        } 
        .cardText {
            font-size: $textFontSizeS;
            line-height: 2em;
            max-width: 40ch;
            padding-left: 2em;


        }
    }

}
/* ===== Info Cards ====== */

/* ===== Are You Ready ====== */
.areYourReady {
    display: flex;
    flex-wrap: wrap;
    max-width: 75vw;
    margin: auto;
    row-gap: 2em;
    .Intro {
        margin: $margin-T-B;
        h1 {
            font-size: $titlFontSize;
            font-family: robotoB; 
            text-align: center;
            line-height: 2em;
            width: 100%;
        }
        p {
            margin: auto;
            text-align: center;
            font-size: $textFontSize;
            max-width: 70%;
        }
    }
    .imgTextContainer {
        display: flex;
        justify-content: space-between;
        gap: 2em;
        width: 100%;
        .imgContainer {
            width: 50%;
            img {
                width: 100%;
            }
        }
        .textContainer {
            width: 50%;
            line-height: 2em;

            h1 {
                font-size: 2.6em;
                font-family: robotoB;
                color: $gray-color;
                margin-bottom: 1.5em;
            }
            h3 {
                span {
                    font-size: 1.8em;
                }
                font-size: $textFontSize;
                font-family: robotoB;
            }
            p {
                font-size: $textFontSizeS;
                line-height: 2em;

            }

        }

    }
    .reverse {
        flex-direction: row-reverse;

    }

}
/* ===== Are You Ready ====== */

/* ===== Footer ====== */
.footer {
    h1 {
        text-align: center;
        font-family: robotoB;
        line-height: 2em;
        margin-bottom: 1em;
    }
    p {
        text-align: center;
        line-height: 2em;
        margin-bottom: 1em;
    }
    form {
        max-width: 75vw;
        margin: auto;
        input {
            margin: 2em auto;
            display: block;
            text-align: center;
            border: none;
            border-radius: 2px;
            padding: 1em 6em;
            background-color: $white-color;
            box-shadow: 1px 1px 15px rgba(128, 128, 128, 0.318);
        }
        .submit {
            text-align: center;
            display: block;
            padding: 0.4em 2.5em;
            margin: 1em auto;
            background-color: $secondary-color;
            border: none;
            color: $white-color;
            border-radius: 2px;
        }
    }
}
/* ===== Footer ====== */

/* ===== Media queries ====== */
@media only screen and (max-width: 701px) {

    * {
        transition-duration: 400ms;
        transition-timing-function: ease-out;
    }

    .heroSection {
        margin-bottom: 2em;
        .textContainerHero{
            width:50%;
        }
    }

    .everyIdeaStartsWithANeed {
        article:first-of-type {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 90%;
            margin-bottom: 5em;
            p {
                margin-top: 2em;
                width: 100%;
            }
        }
    }

    .infoCards {
        .infoCard {
            width: 100%;
        }
    }

    .areYourReady {
        .imgTextContainer {
            flex-wrap: wrap;
            width: 80%;
            margin: auto;
        .imgContainer {
            width: 100%;
            
        }
        .textContainer {
            width: 100%;
        }
    } }
} 

/* ===== Media queries ====== */


